body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #222;
}

.calculator {
    background-color: #333;
    border: 2px solid #555;
    padding: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

#display {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 24px;
    background-color: #444;
    color: #fff;
    border: 1px solid #555;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    padding: 10px;
    margin: 2px;
    font-size: 18px;
    background-color: #444;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #555;
}

.number, .operator {
    background-color: #666;
}

.clear, .equals {
    background-color: #ff9933;
}

.clear:hover, .equals:hover {
    background-color: #ff751a;
}
